# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
/staticfiles/
/mediafiles/

# Docker
# (dockerignore is intentionally committed)

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
